$lt-gray: #ddd;
$background-dark: rgb(41, 38, 32);
$background-light: rgb(250, 254, 255);

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}

@mixin color($backgroung-color, $background-light){
    background-color:$backgroung-color;
    color:$background-light;
}

.row-header{
    @include zero-margin(0px,0px);
}

.row-content {
    @include zero-margin(50px,0px);
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    @include color($background-dark,$background-light);
    @include zero-margin(20px, 0px);
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
    background-color: $background-light;
}

.navbar-light {
     background-color: $background-light;
}

.carousel .carousel-item img {
    margin: 0 auto;
  }

.modal-header {
    background: $background-dark;
    border-bottom: 0px;
    .modal-title,.close {
        color:$background-light;
    }
}

.myWorkImage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .myWorkContainer:hover{
    .middle{
        opacity: 1;
      }
      .myWorkImage{
        opacity: 0.3;
      }
  }

  a:hover {
    color:$background-dark;
 }

 .navbar{
     .nav-item{
        .dropdown-menu, .dropdown-item{
            @include color($background-dark,$background-light);
            &:hover{
            @include color($background-dark,rgb(155, 155, 156));
            }
         }
     }
 }
